<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bare Bones Layout</title>
    <meta name="description" content="A simple starting template for html projects">
    <meta name="author" content="kataali.com">

    <!-- Open Graph Protocol -->
     <!-- Especially useful when the site will be shared on Social Media -->
    <!-- required -->
    <meta property="og:title" content="Bare Bone Layout">
    <meta property="og:image" content="https://www.littlelemon.com/menu.jpg">
    <meta property="type" content="website">
    <meta property="og:url" content="https://www.kataali.com">
    <!-- non-required -->
    <meta property="og:description" content="This is a simple starting template for html projects">
    <meta property="og:site_name" content="html bare bones layout">
    <meta property="og:locale" content="en_US">

    <!-- Icons -->
    <link rel="icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/svg+xml">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!-- link css files here -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <!-- Add site name or logo here -->
        <h1>Header</h1>
    </header>
    <nav>
        <!-- Add site navigation here -->
    </nav>
    <main>
        <!-- Main content goes here -->
         <h1>Heading</h1>
    </main>
    <footer>
        <!-- Add copyright and other footer content here -->
        <p>Footer</p>
    </footer>

    <!-- link js files here -->
    <script src="js/scripts.js"></script>
</body>
</html>